
<div class="container bootstrap contenedor">
    <h1>Listado de productos añadidos: Motor Handlebars</h1>

    <div class="formulario">
        {{#if producto}}
        <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody>
            {{#each producto}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.title}}</td>
                    <td>${{this.price}}</td>
                    <td><img src={{this.thumbnail}} class="imgTable"></td>
                </tr>
            {{/each}}
        </tbody>
    </table>  
        {{else}}
        <div class="alert alert-warning" role="alert">
            <h3>Aún no hay productos cargados</h3>
        </div>
        {{/if}}
    </div>
          
</div>